@{
    var profile = ViewBag.Profile as FoodDeliveryApp03.Models.ProfilePicture;
    var menuItems = ViewBag.MenuItems as List<FoodDeliveryApp03.Models.MenuItem>;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <style>
        
    </style>
</head>
<body>
    <div id="container">

        <div id="profile-picture">

            <div id="background-overlay"></div>
            @if (!string.IsNullOrEmpty(profile.ImagePath))
            {
                <img class="profile-image" src="@Url.Content(profile.ImagePath)" alt="Profile Picture" />
            }
            else
            {
                <p>No profile picture available.</p>
            }

            <h1 id="restaurant-name"> @profile.RestaurantName</h1>
        </div>

        <h2 id="menu">Menu Items:</h2>

        <div class="menu-items">
            @foreach (var menuItem in menuItems)
            {
                <div class="menu-item">
                    <p>@menuItem.Name - @menuItem.Description</p>
                    <img src="@Url.Content(menuItem.ImagePath)" alt="Picture" />
                    <form class="form1" asp-controller="Carts" asp-action="AddToCart" method="post">
                        <input type="hidden" name="menuItemId" value="@menuItem.Id" />
                        <button class="btn1" type="submit">Add to Cart</button>
                    </form>
                </div>
            }
        </div>

        <h2>Restaurant Location</h2>

        <div id="map"></div>
    </div>
</body>
</html>

<script>
    function initMap() {
        var latitude = @profile.Latitude;
        var longitude = @profile.Longitude;

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: { lat: latitude, lng: longitude }
        });

        var marker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map,
            title: '@profile.RestaurantName'
        });
    }

    window.onload = initMap;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBluF2ghHonSKrpvcxRbGVB7BI2UzFKf3s&callback=initMap"></script>