@{
    var profile = ViewBag.Profile as FoodDeliveryApp03.Models.ProfilePicture;
    var menuItems = ViewBag.MenuItems as List<FoodDeliveryApp03.Models.MenuItem>;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<style>
    #map{
        height:300px;
        width:600px;
    }
</style>
<div class="div1">
<h1>Restaurant Profile - @profile.RestaurantName</h1>

<div>
    <h3>Profile Picture</h3>
    @if (!string.IsNullOrEmpty(profile.ImagePath))
    {
        <img class="profile" src="@Url.Content(profile.ImagePath)" alt="Profile Picture" width="150" height="150" />
    }
    else
    {
        <p>No profile picture available.</p>
    }
</div>
</div>


<h2>Menu Items:</h2>

<ul >
    <div >
        @foreach (var menuItem in menuItems)
        {
            <p>@menuItem.Name - @menuItem.Description <img src="@Url.Content(menuItem.ImagePath)" alt="Picture" width="70" height="70" />  </p>
        }
    </div>
</ul>
<h2>Restaurant Location</h2>

<div id="map" style="width: 100%; height: 400px;"></div>


<script>
    function initMap() {
        var latitude = @profile.Latitude;
        var longitude = @profile.Longitude;

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: { lat: latitude, lng: longitude }
        });

        var marker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map,
            title: '@profile.RestaurantName'
        });
    }

    window.onload = initMap;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBluF2ghHonSKrpvcxRbGVB7BI2UzFKf3s&callback=initMap"></script>